.category {
  margin-top: 69px;
  margin-bottom: 71px;
  h1 {
    text-align: center;
    color: var(--Black, #232536);
    font-family: Sen;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 48px;
    letter-spacing: -2px;
  }
}

.card {
  margin-bottom: 73px;
  height: 321.072px;
  padding: 32px;
  border: 1px solid var(--Medium-grey, #6d6e764f);
  transition: 0.3s;
  cursor: pointer;
  &:hover {
    background: var(--Yellow, #ffd050c4);
  }
  h5 {
    margin-top: 15px;
    color: var(--Black, #232536);
    font-family: Sen;
    font-size: 28px;
    font-style: normal;
    font-weight: 700;
    line-height: 40px;
    letter-spacing: -1px;
  }
  p {
    color: var(--Medium-grey, #6d6e76);
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
  }
}
